{% extends "base.html" %}

{% block content %}
    <div class="content_account">
        <table>
            <form name="form" action="{{ url_for('member.member_login') }}" method="POST">
                {% if next_url %}
                    <input type="hidden" name="next_url" value="{{ next_url }}">
                {% endif %}
                <thead>
                    <caption class="table_title">회원 로그인</caption>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            E-MAIL &nbsp;
                            <input type="text" name="email" placeholder="이메일을 입력해주세요." required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            PASSWORD &nbsp;
                            <input type="password" name="pass" placeholder="비밀번호를 입력해주세요." required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="submit" class="font_14">로그인하기</button>
                        </td>
                    </tr>
                </tbody>
            </form>
        </table>
    </div>
{% endblock %}
